html {
  font-size: 16px;
  font-family: sans-serif;
}

div, body {
  display: block;
  margin-top: 0px;
  padding-top: 0px;
}

a {
  color: #292929;
}

h1 {
  font-size: 3rem;
  color: #252525;
  font-weight: 900;
}

h2 {
  font-size: 1.75rem;
  color: #292929;
}

h3 {
  font-size: 1.5rem;
}

.flex-container {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
}


/*Header - Top Line*/
nav a {
  padding-right: 1rem;
}

header nav {
  display: flex;
  align-self: center;
  margin-right: .5rem;
}

.top-line {
  display: flex;
  background-color: white;
  width: 100%;
  position: fixed;
  z-index: 10;
  height: 4rem;
  align-items: center;
  justify-content: space-between;
  line-height: 2rem;
  font-size: 1.5rem;
}

.top-line .logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.top-line img {
  margin-left: 1.5rem;
  height: 4rem;
}

#colmar {
  color: #292929;
  font-weight: bold;
}

#academy {
  color: #8A8A8A;
}

/*Jumbotron*/
.jumbotron, .start-learning {
  background-color: #BAB9BA;
  /*background-color: #F3F3F3;*/
}

.info-left {
  width: 60%;
  padding: 2rem 1.5rem;
}

.jumbotron .info-left img {
  margin-top: 4rem;
  width: 100%
}

.jumbotron .start-btn-container {
  width: 40%;
  height: auto;
  align-items: center;
}

.start-btn {
  width: 75%;
  align-items: center;
}

.btn {
  background-color: #292929;
  display: flex;
  font-size: 1.5rem;
  width: 100%;
  padding: .5rem 0;
  margin: auto;
  justify-content: center;
}

.btn a {
  color: #F3F3F3;
}


/*2nd Section (info)*/


.info .info-left img {
  width: 100%
}

.info-right{
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-top: 1rem;
}

.info-right img {
  margin: 1rem;
  width: 35%;
}

.right .right-content {
  width: 65%;
}

#read {
  color: blue;
}


/*3rd Section (start-learning)*/

.start-learning h1{
  width: 100%;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

section .topic img {
  margin: 0;
  paddding: 0;
}

.topics {
  display: flex;
  width: 100%;
  margin: 0 2.5rem;
  padding-bottom: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.topic {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 1rem;
  background-color: white;
}


/*4th Section (thesis-exhibit)*/
.thesis-exhibit h1{
  width: 100%;
  text-align: center;
  margin-top: 2rem;
}

.info-left video {
  margin-bottom: : 2rem;
  width: 100%;
}


/*5th Section (reimagine-urban)*/
#reimagine-urban .content {
  margin: 1.5rem 0 2rem 1.5rem;
}


/*Footer - Bottom Line*/













.jumbotron, .info, .start-learning, .thesis-exhibit, .start-btn, .btn, .content, .topic {
  border: solid black 1px;
}
